@font-face {
  font-family: "iconfont"; /* Project id 4194234 */
  src: url('iconfont.woff2?t=1690964292994') format('woff2'),
       url('iconfont.woff?t=1690964292994') format('woff'),
       url('iconfont.ttf?t=1690964292994') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongpai:before {
  content: "\e8b1";
}

.icon-yinpai:before {
  content: "\e8b2";
}

.icon-jinpai:before {
  content: "\e8b3";
}

